---
name: Close Pull Request

on:
  pull_request:
    types: [closed]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  delete-uffizzi:
    name: Delete Uffizzi virtual cluster
    uses: UffizziCloud/MostlyDevOps-actions/.github/workflows/reusable-uffizzi-delete.yaml@main
    secrets:
      github-token: ${{ secrets.GITOPS_WORDSMITH_K8S }}
      uffizzi-password: ${{ secrets.UFFIZZI_PASSWORD }}
    with:
      pr-number: ${{ github.event.number }}
